/*
 * Globals
 */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


p {
    margin-bottom: 20px;
}
a {
    color: #B9121B;
}
a:hover, a:focus {
   color: #920F16;
}


/*
 * Masthead for nav
 */

.blog-masthead {
    background-color: #B9121B;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.blog-masthead .container {
    position: relative;
}
.blog-masthead .logo {
    position: absolute;
    width: 90px;
    top: 3px;
    padding: 5px;
    margin-right: 20px;
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 13px;
    font-size: 18px;
    font-weight: 500;
    color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}
.hackaton {
    -webkit-animation: floating 1s infinite linear;
    -moz-animation: floating 1s infinite linear;
    -ms-animation: floating 1s infinite linear;
    -o-animation: floating 1s infinite linear;
}
.blog-nav {
    margin-left: 100px;
}
/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right:  5px solid transparent;
    border-bottom: 5px solid;
    border-left:   5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 17px;
    text-align: justify;
    line-height: 1.6;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

.sidebar-module.slideshow {
    padding: 0;
}

/**
*
*/
.sidebar-module h5 {
    margin-top: 20px;
}
.sidebar-module li {
    width: 100%;
    border-top: 1px solid #cccccc;
}
.sidebar-module li a {
    display: block;
    color: #333;
    border-left: 5px solid #ccc;
    margin: 5px 0;
}
.sidebar-module li a:hover {
    color: #B9121B;
    border-color: #B9121B;
}
.sidebar-module li a:hover .date {
    color: #333
}
.sidebar-module ol:last-child li:last-child {
    border-bottom: 1px solid #cccccc;
}
.sidebar-module .year {
    position: relative;
}
.sidebar-module h5 {
    position: absolute;
    top: -34px;
    right: -30px;
    padding: 6px;
    background: #F4CC05;
    border-radius: 5px;
}
.sidebar-module .date {
    display: block;
    float: left;
    padding-left: 12px;
    text-transform: lowercase;
    width: 50px;
    clear: both;

}

.sidebar-module .subject {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar-module .date strong {
    font-size: 17px;
    line-height: 17px;
}

/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}
.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}


/*
 * Footer
 */

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

/**
 * Sponsors
 */
.sponsors ul {
    list-style: none;
    margin: 20px auto;
    width: 520px;
}

.sponsors ul li {
    display: inline-block;
    margin-right: 50px;
}

.sponsors img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -webkit-transition: all 500ms;-moz-transition: all 500ms;-ms-transition: all 500ms;-o-transition: all 500ms;transition: all 500ms;
}

.sponsors a:hover img {
    filter: none;
    -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

@-webkit-keyframes floating{
    0%{top:0px}50%{top:5px}100%{top:0px}
}
@-moz-keyframes floating{
    0%{top:0px}50%{top:5px}100%{top:0px}
}
@-ms-keyframes floating{
    0%{top:0px}50%{top:5px}100%{top:0px}
}
@-o-keyframes floating{
    0%{top:0px}50%{top:5px}100%{top:0px}
}
@keyframes floating{
    0%{top:0px}50%{top:5px}100%{top:0px}
}
